input[type="range"] {
  height: 27px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #292c2f;
  background: #292c2f;
  border-radius: 2px;
  border: 1px solid #292c2f;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #292c2f;
  border: 1px solid #292c2f;
  height: 19px;
  width: 14px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #292c2f;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #292c2f;
  background: #292c2f;
  border-radius: 2px;
  border: 1px solid #292c2f;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #292c2f;
  border: 1px solid #292c2f;
  height: 19px;
  width: 14px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #292c2f;
  border: 1px solid #292c2f;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #292c2f;
}
input[type="range"]::-ms-fill-upper {
  background: #292c2f;
  border: 1px solid #292c2f;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #292c2f;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #292c2f;
  border: 1px solid #292c2f;
  height: 19px;
  width: 14px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #292c2f;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #292c2f;
}
